PORT=8000
NODE_ENV=development
MONGODB_URI=mongodb+srv://swapnanilrick10_db_user:vqNmiesthwS8epD7@cluster1.9gbbbfw.mongodb.net/?appName=cluster1
JWT_SECRET=change_this_secret_key_for_production_safety_12345
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:4200
